
<div id="replaceDiv" style="background-image: url(img/core-img/2.jpg);background-repeat:no-repeat; background-size:cover">
  <section class="contact-area section-padding-100-0">
    <div id="login" class="container">
      <div class="row justify-content-between">
                
       
        <div class="col-12 col-lg-5">
          <div class="contact-content mb-100">
      
            <div class="section-heading">
              
              <h2><font color="white">Add your</font><span>Products</span></h2>
              <img src="img/core-img/decor2.png" alt="">
            </div>
         
            <div class="contact-form-area"  id="addProducts" data-ng-controller="addProduct" >
            
          <form action="#" method="post">
                <div class="row">                        
                  <div class="col-lg-6">
                    <input type="text" class="form-control" name="name" placeholder="Your Name" data-ng-model="data.object.name" >
                  </div>
                  <div class="col-lg-6">
                    <input type="email" class="form-control" name="email" placeholder="Your Email" data-ng-model="data.object.email" required="required"
						pattern="^[A-Za-z0-9.$]*[@][a-z]{3,8}.(com|gov|org|office|co.in|edu|in)"
						class="form-control"/>
                  </div>
                  
                  <div class="col-12">
                    <textarea name="product" class="form-control" cols="30" rows="10" placeholder="Your Product
NOTE: If you have more than one product seperate them by commas(,)" data-ng-model="data.object.product" ></textarea>
                  </div>
                   <div class="col-lg-6">
                    <input type="text" class="form-control" name="price" placeholder="Price per KG" data-ng-model="data.object.price" >
                  </div>
                  <div class="col-12">
                    <button type="button" class="btn famie-btn" id="add2" 
								data-ng-click="pro(data.object);"  data-dismiss="modal">Submit</button>
                  </div>
                </div>
              </form>        
  </div>
   </div>
		    
		</div>
				 

      </div>
    </div>                                                
  </section> 
   <script>
           
            jQuery(document).ready(function() {
    			$("#update").hide();
    			$("#add").show();
    			angular.bootstrap(jQuery("#addProducts"), [ 'products' ]); 
    		});
    		 jQuery("#register").click(function(){
    			$("#update").hide();
    			$("#add").show();
    			/* angular.bootstrap(jQuery("#regid"), [ 'RegistrationModule' ]); */
    		});
    		jQuery(document).on('click',"#editData",function(){
    			$("#update").show();
    			$("#add").hide();
    			/* angular.bootstrap(jQuery("#regid"), [ 'RegistrationModule' ]); */
    		}); 
            </script>
   <script src="/orga/js/popper.min.js"></script>
  <script src="/orga/js/bootstrap.min.js"></script>
  <script src="/orga/js/owl.carousel.min.js"></script>
  <script src="/orga/js/classynav.js"></script>
  <script src="/orga/js/wow.min.js"></script>
  <script src="/orga/js/jquery.sticky.js"></script>
  <script src="/orga/js/jquery.magnific-popup.min.js"></script>
  <script src="/orga/js/jquery.scrollup.min.js"></script>
  <script src="/orga/js/jarallax.min.js"></script>
  <script src="/orga/js/jarallax-video.min.js"></script>
  <script src="/orga/js/active.js"></script>
  <script src="/orga/js/valid.js"></script>
  <script src="/orga/js/RegistrationModule.js"></script>
  <script src="/orga/js/product.js"></script>
	</div>