<div id="forgotPassword" >
		  <section class="contact-area section-padding-100-0">
    <div id="login" class="container">
      <div class="row justify-content-between">

       
        <div class="col-12 col-lg-5">
          <div class="contact-content mb-100">
      
            <div class="section-heading">
              
              <h2><font color="white">Forgot</font> <span>Password</span></h2>
              <img src="img/core-img/decor2.png" alt="">
            </div>
         
            <div class="contact-form-area" id="regid" data-ng-controller="FormController">
              <form  method="post">
                <div class="row">
                  
                  <!-- <div class="col-lg-8">
                    <input type="text" id="username" class="form-control" name="username" placeholder="Your Username" data-ng-model="data.object.username">
                  </div> -->
                  <div class="col-lg-8">
                    <input type="text" id="mail" class="form-control" name="mail" placeholder="Your Mail" data-ng-model="data.object.mail">
                  </div>
            
                    <div>
                      <div>
                      <button type="button" class="btn famie-btn mt-30" data-ng-click="forgot(data.object);">submit</button>
                      <button type="button"  class="btn famie-btn mt-30" onclick="Andromeda.showLogin();" >Cancel</button>

                   </div>
					
			 
	 </div>   
  </form>         
  </div> 
   </div>
		    
		</div>
				 

      </div>
    </div>                                                
  </section> 
	<script>
	jQuery(document).ready(function() {
		
		angular.bootstrap(jQuery("#regid"), [ 'formModule' ]); 
	});
	 jQuery("#register").click(function(){
		
		/* angular.bootstrap(jQuery("#regid"), [ 'RegistrationModule' ]); */
	});
	jQuery(document).on('click',"#editData",function(){
		
		/* angular.bootstrap(jQuery("#regid"), [ 'RegistrationModule' ]); */
	}); 
	
</script>

<script src="/orga/js/formModule.js"></script>
</div>